<% include ../partials/_header %>
<% include ../partials/_navbar %>

<div class="page-header">
    <div class="container">
        <div class="jumbotron text-center bg-transparent">
            <h1 class="jumbotron-heading">Apps for Education</h1>
            <p class="lead">Reviewed educational apps from teachers or parents.</p>
            <a class="btn btn-lg btn-outline-warning mt-2" href="/applications/new">Submit New Application</a>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">

            <% if (error && error.length > 0) {%>
            <div class="container">
                <div class="alert alert-danger" role="alert"><%= error %></div>
            </div>
            <% } else if (success && success.length > 0) {%>
            <div class="container">
                <div class="alert alert-success" role="alert"><%= success %></div>
            </div>
            <% } %>

            <% applications.forEach(function(application){ %>
            <div class="col-md-3 col-sm-6">

                <div class="card">
                    <img class="card-img-top" src="<%= application.thumbnail %>" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title"><%= application.name %></p>
                        <p class="card-text">
                            <a href="/applications/<%= application._id %>" class="btn btn-outline-primary btn-sm">More Info</a>
                        </p>
                    </div>
                </div>

            </div>
            <% }) %>
    </div>
</div>

<% include ../partials/_footer %>