<% include ../partials/_header %>
<% include ../partials/_navbar %>

<div class="page-header">
    <div class="container">

        <% include ../partials/_alerts %>

        <div class="jumbotron text-center bg-transparent">
            <h1 class="jumbotron-heading"><a href="<%= application.url %>" target="_blank"><%= application.name %></a></h1>
                <div class="row justify-content-md-center">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="rating">Design</label>
                                <select class="star-rating-ro" name="design">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="rating">Effectiveness</label>
                                <select class="star-rating-ro" name="effectiveness">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="rating">Usability</label>
                                <select class="star-rating-ro" name="usability">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="rating">Content</label>
                                <select class="star-rating-ro" name="content">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Application Container -->
<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-9 box-shadow border">
            <div class="row">
                <div class="col-md-8">
                    <strong class="mb-2 text-success">Category</strong>
                    <h3>
                        <a class="text-dark"><%= application.name %></a>
                    </h3>
                    <div class="text-muted"><a target="_blank" href="<%= application.url %>">Download</a></div>
                    <p class="card-text mb-auto text-muted">
                        <%= application.description.substr(0, 500) %> <a href="<%= application.url %>">... Read more</a>
                    </p>
                </div>

                <div class="col-md-4">
                    <img class="mt-5 text-right" src="<%= application.thumbnail %>" alt="App thumbnail">
                </div>
            </div>

            <form class="delete-form" action="/applications/<%= application._id %>?_method=DELETE" method="post">
                <a class="btn btn-sm btn-outline-warning" href="/applications/<%= application._id %>/edit">Edit</a>
                <button class="btn btn-sm btn-outline-danger">Delete</button>
            </form>
            <br>
        </div>
    </div>

    <!-- REVIEW SECTION START -->
    <div class="row justify-content-md-center">
        <div class="col-md-9">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#ModalCenter">
                Write your Review
            </button>

            <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLongTitle">Write your Review!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/applications/<%= application._id %>/reviews" method="POST" id="add-review-form" class="review-new">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" name="title" placeholder="Name your Review" form="add-review-form" class="text-muted">
                                </div>

                                <div class="form-group">
                                    <label for="title">Your Review</label>
                                    <textarea class="form-control" name="description" placeholder="Share your experience from using this application" type="text" form="add-review-form" class="text-muted"></textarea>
                                </div>

                                <div class="form-row text-center">
                                    <div class="col-md-6 form-group">
                                        <label for="rating">Design</label>
                                        <select class="starrating" name="design">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="rating">Effectiveness</label>
                                        <select class="starrating" name="effectiveness">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-row text-center">
                                    <div class="col-md-6 form-group">
                                        <label for="rating">Usability</label>
                                        <select class="starrating" name="usability">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="rating">Content</label>
                                        <select class="starrating" name="content">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>

                                <hr>
                                <div class="form-group text-center">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit" value="Submit" class="btn btn-outline-success">
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-9">

            <% if (application.reviews.length === 0) { %>
                <p class="text-muted">No Comments Yet</p>
            <% } %>

            <% application.reviews.forEach(function(review) { %>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= review.title %></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%= moment(review.created).fromNow() %></h6>
                        <p class="card-text"><%= review.description %></p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

</div>

<% include ../partials/_footer %>